In [6]:
import nltk
import re
import pandas as pd
import numpy as np

In [2]:
from nltk.corpus import stopwords

In [3]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [4]:
from google.colab import files
data = files.upload()

Saving IMDB Dataset.csv to IMDB Dataset.csv

In [7]:
data = pd.read_csv('IMDB Dataset.csv')

In [8]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [9]:
def clean_data(feature):
    feature = re.sub('','',feature)
    feature = re.sub('https?://','', feature)
    feature = re.sub('<[^<]+[a-zA-Z]?>', '', feature)
    return feature

data['review'] = data['review'].apply(clean_data)

In [10]:
def lemmatize_data(rev):
   
    rev = rev.lower()
    rev = rev.split()
    rev = [lemmatizer.lemmatize(word) for word in rev if word not in set(stopwords.words('english'))]
    rev = ' '.join(rev)
       
    return rev

#data['review'] = data['review'].apply(lemmatize_data)

In [16]:
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [17]:
li = []
i = 0
for r in data['review']:
    s = lemmatize_data(r)
    li.append(s)
    i = i+1
    if i % 5000 == 0:            #only to track the progress
        print(i)
    
    
data['Reviews'] = li

5000
10000
15000
20000
25000
30000
35000
40000
45000
50000

In [18]:
data

,review,sentiment,Reviews
0,One of the other reviewers has mentioned that ...,positive,one reviewer mentioned watching 1 oz episode h...
1,A wonderful little production. The filming tec...,positive,wonderful little production. filming technique...
2,I thought this was a wonderful way to spend ti...,positive,thought wonderful way spend time hot summer we...
3,Basically there's a family where a little boy ...,negative,basically there's family little boy (jake) thi...
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,"petter mattei's ""love time money"" visually stu..."
...,...,...,...
49995,I thought this movie did a down right good job...,positive,thought movie right good job. creative origina...
49996,"Bad plot, bad dialogue, bad acting, idiotic di...",negative,"bad plot, bad dialogue, bad acting, idiotic di..."
49997,I am a Catholic taught in parochial elementary...,negative,catholic taught parochial elementary school nu...
49998,I'm going to have to disagree with the previou...,negative,i'm going disagree previous comment side malti...
49999,No one expects the Star Trek movies to be high...,negative,"one expects star trek movie high art, fan expe..."

In [19]:
data.drop('review', axis = 1, inplace = True)
data.to_csv('Final_data.csv')

In [20]:
p_data = pd.read_csv('Final_data.csv')

In [21]:
p_data.head()

   Unnamed: 0 sentiment                                            Reviews
0           0  positive  one reviewer mentioned watching 1 oz episode h...
1           1  positive  wonderful little production. filming technique...
2           2  positive  thought wonderful way spend time hot summer we...
3           3  negative  basically there's family little boy (jake) thi...
4           4  positive  petter mattei's "love time money" visually stu...

In [26]:
data.head()

  sentiment                                            Reviews
0  positive  one reviewer mentioned watching 1 oz episode h...
1  positive  wonderful little production. filming technique...
2  positive  thought wonderful way spend time hot summer we...
3  negative  basically there's family little boy (jake) thi...
4  positive  petter mattei's "love time money" visually stu...